
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
      <%= image_tag car.image , width: "100%" , height: "width",alt:"Logo"%>
        <h3 class="card-title"><%= link_to car.model, car %></h3>
        <h4 class="card-text"><span style="font-weight:bold" >Made By:</span> <%=link_to car.manufacturer.name, car.manufacturer%></h4>
        <h4 class="card-text"><span style="font-weight:bold" >Feature: </span><%= car.description %></h4>

          <%= form_with url: cart_index_path, method: :post do %>
        <%= hidden_field_tag(:id, car.id) %>
        <%= button_tag 'Add to Cart' %>
        <% end %>

          <% if cart.include?(car) %>

        <%= button_to cart_path(car), method: :delete do%>
        Remove From Cart
        <% end%>


        <% end %>
      </div>
    </div>
  </div>
