<%# # <%= debug cart %>

 <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

   <%if flash[:notice]%>
   <p><%= flash[:notice]%>
   <%end%>
    <%= link_to image_tag("cart.jpg", width:60, alt: "") ,cart_index_path%>
      <ul>
        <li>Cart <% if cart.present?%>
              <sup><%= cart.size %></sup></li>
              <% cart.each do |car|%>
            <li>
              <%= car.model%><%= link_to 'DELETE', cart_path(car), method: :delete %>
            </li>
          <%end%>
        <%end%>
 </ul>

<h1 style="color:blue;">Buy Cars, Become Lazy</h1>

<%= paginate @cars %>
<div class="row">
<% @cars.each do |car| %>
<%= render :partial => 'car', locals: { car: car } %>
  <% end %>
</div>
