<div class="card">
  <div class="card-header"><h2><%= @car.model %></h2></div>
  <div class="card-body">
<%= render_breadcrumbs %>

  <ul>

<p id="notice"><%= notice %></p>
    <%= image_tag @car.image , width: '400', height: '400'%></span>
    <li><span style="font-weight:bold" >Feature: </span><span><%= @car.description %></span></li>
    <li><span style="font-weight:bold">Quantity: </span><span><%= @car.quantity %></span></li>
    <li><span style="font-weight:bold">License Plate: </span><span><%= number_to_currency @car.price %></span></li>
    <li><span style="font-weight:bold">Year: </span><span><%= @car.year %></span></li>
    <li><span style="font-weight:bold">Door Count: </span><span><%= @car.doorCount %></span></li>
    <li><span style="font-weight:bold">Mileage: </span><span><%= @car.mileage %></span></li>
    <li><span style="font-weight:bold">Manufacturer: </span><span><%= @car.manufacturer.name %></span></li>
  </ul>
  </div>
</div>